useDynLib(SuSiE4X, .registration = TRUE)
export(SuSiE4X)
export(blockwise_crossprod)
importFrom(CppMatrix,matrixMultiply)
importFrom(CppMatrix,matrixVectorMultiply)
importFrom(Matrix,colMeans)
importFrom(Matrix,crossprod)
importFrom(graphics,text)
importFrom(stats,lm)
importFrom(stats,var)
importFrom(susieR,coef.susie)
importFrom(susieR,susie_suff_stat)
